<footer class="global-footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-4 footer-col footer-contact">
				<h2 class="footer-col-title">Contact and support</h2>
				<ul class="footer-list">
					<li>Support: <a href="">support@boost.market</a></li>
					<li>Offers and ads: <a href="">mail@boost.market</a></li>
				</ul>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 footer-col footer-info">
				<h2 class="footer-col-title">Info</h2>
				<ul class="footer-list">
					<li><a href="sample-page.html">Terms of use</a></li>
					<li><a href="sample-page.html">Privacy Policy</a></li>
				</ul>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 footer-col footer-copy">
				<div class="footer-logo"><a href="/"><img src="assets/img/logo-white.svg" draggable="false" alt=""></a></div>
				<div class="footer-copy__small"><small>Copyright © 2018 boost.market</small></div>
			</div>
		</div>
	</div>
</footer>