<!-- Available classes: .global-header--home, .global-header--has-bg, .global-header--overlay  -->
<header class="global-header global-header--home global-header--has-bg global-header--overlay" style="background-image: url(assets-store/img/bg.jpg);">
	
	@@include('./components/_header-nav.html')	

	<!-- Available classes: .header-lead--white, .header-lead--shadow  -->
	<div class="header-lead header-lead--white header-lead--shadow">
		<div class="container">
			<h2 class="header-lead__title">Welcome to the store</h2>
			<div class="header-lead__text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia illum delectus minima dolore ea nam quasi voluptatibus inventore quod est, adipisci asperiores obcaecati, placeat officia commodi hic alias, officiis eum.</p>
			</div>
		</div>
	</div>

</header>