<nav class="header-nav">
	<div class="container">
		<div class="row align-items-center">
			<div class="header-nav-col col-12 col-md-auto">
				<a href="store.html" class="logo"><img src="assets-store/img/logo.png" alt=""></a>
			</div>
			<div class="header-nav-col col-12 col-sm">
				<a class="cart-shortcut" href="store-cart.html" title="Go to cart">
					<span class="cart-shortcut-items">2 items</span> -
					<span class="cart-shortcut-sum">$<span class="cart-shortcut-sum__number">120</span></span>
				</a>
			</div>
			<div class="header-nav-col col-12 col-md-auto">
				<div class="menu menu--white">
					<ul class="menu-links">
						<li class="menu-item">
							<a href="store-sample-page.html">Sample page</a>
						</li><li class="menu-item">
							<a href="store-sample-page.html">FAQ</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>