@import './website/vars';

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	font-size: 16px;
	color: #fff;
	background: $c-bg url(../assets/img/bg-pattern.png);
	// background-color: $c-bg;
}

.skew-bg {
	content: "";
	background-color: rgba(#000, .03);

	display: block;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 40%;
	height: 100%;
	width: 50%;
	transform: skew(-35deg) translateX(-50%);
}

@media screen and (max-width: 767px) {
	.skew-bg {
		left: 40%;
		width: 70%;
	}	
}

@import './website/global/global';

@import './website/components/logo';
@import './website/components/hero';

@import './website/partials/header';
@import './website/partials/footer';

@import './website/module-homepage/homepage';
@import './website/module-catalog/catalog';
