@import 'vars';

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
}

body {
	font-size: 16px;
	color: #fff;
	background-color: $c-bg;
}

.skew-bg {
	content: "";
	background-color: rgba($c-black, .1);

	display: block;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 40%;
	height: 100%;
	width: 50%;
	transform: skew(-35deg) translateX(-50%);
}

@media screen and (max-width: 767px) {
	.skew-bg {
		left: 40%;
		width: 70%;
	}	
}

@import 'global/global';

@import 'components/logo';

@import 'partials/header';
@import 'partials/footer';

@import 'module-homepage/homepage';
@import 'module-catalog/catalog';
