@import 'vars';

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
}

body {
	font-size: 16px;
	color: #fff;
	background-color: $c-bg;
}

@import 'global/global';

@import 'components/logo';

@import 'partials/header';
@import 'partials/footer';

@import 'module-homepage/homepage';
@import 'module-catalog/catalog';
