////////////////////////////////
// USER OPTIONS
////////////////////////////////


.product-section {
	background-color: rgba($c-black, .05);
	border-radius: 4px;

	padding: 15px;
	margin-bottom: 30px;

	&__title {
		font-family: $f-raj;
		font-size: 20px;
		font-weight: bold;

		margin-bottom: 20px;
	}

	@media screen and (min-width: 360px) {
		padding: 30px;
	}
}









// .product-option {
// 	margin-bottom: 45px;

// 	&__title {
// 		font-size: 18px;
// 		font-weight: bold;

// 		margin-bottom: 10px;
// 	}
// }




















////////////////////////////////////////
// DETAILS
////////////////////////////////////////


.single-product-title {
	font-size: 28px;
	font-weight: bold;

	margin-bottom: 30px;

	@media screen and (min-width: 576px) {
		font-size: 36px;
	}
}


.single-product-img {
	margin-bottom: 30px;
}

.single-product-text {
	line-height: 1.7;
	margin-bottom: 45px;

	p {
		margin-bottom: 1.5em;
	}

	ul {
		margin-top: 15px;
		margin-bottom: 30px;
	}
}



.product-price {
	max-width: 320px;
	margin-bottom: 5px;

	&__label {
		font-weight: bold;
	}

	@media screen and (min-width: 576px) {
		font-size: 18px;

		&__value {
			font-size: 20px;
		}
	}
}

.product-total {
	background-color: rgba($c-black, .05);
	border: 3px solid rgba($c-black, .2);
	border-radius: 4px;

	padding: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}









///////////////////////////
// LAYOUT
///////////////////////////

.single-product {
	padding-top: 45px;
	padding-bottom: 45px;

	@media screen and (min-width: 576px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	@media screen and (min-width: 992px) {
		padding-top: 75px;
		padding-bottom: 75px;
	}
}
