.header-nav {
	padding-top: 30px;
	padding-bottom: 30px;
}


@media screen and (max-width: 767px) {

	.header-nav {
		
		.logo {
			margin-right: auto;
			margin-left: auto;
		}
	}

	.header-nav-col {
		margin-top: 10px;
		margin-bottom: 10px;

		&--logo {
			text-align: center;
		}

		&--menu {
			text-align: center;
		}

		&--user {
			text-align: center;
		}
	}

}